@page "/counter"
@inherits MyAppComponent

<h1>Counter</h1>

<p>Current count: @State.Count</p>

<button class="btn btn-primary" onclick="@IncrementCount">Add 3</button>

@functions {
    void IncrementCount()
    {
        Dispatch(new IncrementByValueAction(3));
    }
}
